@model Department

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="EditDepartment" method="post" enctype="multipart/form-data">

           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <img class="img-thumbnail" style="max-width:200px"  src="~/@Model.Logo" />
                <input type="file" name="LogoFile" />
                <input type="hidden" asp-for="Logo" value="@Model.Logo" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">

                @if (Model.ParentDepartmentId != null)
                {
                    <label asp-for="ParentDepartmentId" class="control-label"></label>

                    var departmentsList = ViewBag.Departments as SelectList ?? new SelectList(new List<Department>(), "Id", "Name");

                    <select asp-for="ParentDepartmentId" class="form-control" asp-items="departmentsList">
                        <option value="">-- Select Parent Department --</option>
                    </select>
                    <span asp-validation-for="ParentDepartmentId" class="text-danger"></span>
                }
                else
                {
                    <label asp-for="ParentDepartmentId" class="control-label"></label>

                    var departmentsList = ViewBag.Departments as SelectList ?? new SelectList(new List<Department>(), "Id", "Name");

                    <select asp-for="ParentDepartmentId" class="form-control" asp-items="departmentsList">
                        <option value="">-- Select Parent Department --</option>
                    </select>
                    <span asp-validation-for="ParentDepartmentId" class="text-danger"></span>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
